/* css styles */

/* Clear default text spacing */

.p, p {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

/* Custom header and footer definitions */

.footer-text {
  color: #ffffff; 
}

.footer-link, .sitemap-link {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}

.sitemap-link {
  text-transform: uppercase;
}

.footer-link:hover, .sitemap-link:hover {
  color: #ffffff;
}

/* 
.nav-footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 0px;
  background-color: #8cb365;
  color: #f8f9fa;
}

.nav-footer-center {
  flex-grow: 0;
}
*/
.navbar-brand-container {
  width: 15%;
  height: auto;
  margin: 0.5%;
}

.navbar-brand {
  width: 100%;
  overflow: visible;
}

.navbar-logo {
  max-height: 120px;
  min-height: 2.5em;
  width: auto;
}

/*

.navbar-brand.navbar-brand-logo {
  height: 3rem;
  max-width: 200px;
  padding-left: 2.5%;
}

.navbar-brand-container .mx-auto {
  max-width: 35%;
  margin-left: 2.5%;
}

.navbar-brand {
  width: 5em;
  overflow: visible;
}

*/

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* Custom classes for ease of editing */

.spacer-2rem {
  margin: 2rem;
  height: 0px;
}

.spacer-1rem {
  margin: 1rem;
  height: 0px;
}

.image {
  width: 100%;
  position: relative;
  margin-bottom: -0.75em; /* Compensates for the p wrapper quarto puts on images */
  padding: 5%;
}

.flex-row {
  width: 100%;
  display: flex; /* This should be default, not sure why it isn't working */
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  flex: 1 1 0px; /* Allows different-sized images to distribute evenly in flex columns */
  text-align: center;
}

.grey-background {
  bg-color: var(--bs-gray-300);
}

.shadow-box-white {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.shadow-box-grey {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
  background-color: #e2e2e2;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

/* Change how links appear within buttons */

.btn-primary-link {
  font-family: inherit;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-top: 0;
}