/*-- scss:defaults --*/

* {
     margin: 0;
     padding: 0;
}

$white:         #ffffff;
$black:         #000000;

$light-grey:    #e4e4e4;
$dark-grey:     #434343;

/*
$dark-theme: true !default;
@if $dark-theme {
  $primary: darken($primary, 60%);
  $accent: lighten($accent, 60%);
}
*/

$primary:       #114087;
$secondary:     #8cb365;
$accent1:       #5d3006;
$accent2:       #01034c;

$body-bg:       transparent;      // The page background color.
$body-color:    $black;           // The page text color.

$code-color:    $accent2;         // The text color of inline code. Defaults to a generated contrasting color against the code-bg.

$h1-color:      $primary;
$h2-color:      $secondary;
$h3-color:      $primary;
$h4-color:      $secondary;

$font-size-root: 1em;             // The base font size for the page.
$toc-font-size:  0.6em;           // The font size for the page TOC.
$h4-font-size:   $font-size-root*1.25;
$h3-font-size:   $h4-font-size*1.25;
$h2-font-size:   $h3-font-size*1.25;
$h1-font-size:   $h2-font-size*1.25;

$h1-border-width: 0px;

$link-color:     $secondary;      // The link color.

//$input-bg:       $light-grey;   // The background color for HTML inputs.
//$popover-bg:     $light-grey;   // The background color for popovers (e.g. when a citation preview is shown).
//$code-bg:        $light-grey;   // The background color of inline code. Defaults to a mix between the body-bg and body-color.

// Fonts

// Code Blocks
//$code-block-border-left:          $dark-purp;   // By default, Quarto does not display a left border on code blocks. Set this variable to a truthy value or a CSS color to enable the left border.
//$code-block-border-left-size:     2px;          // The thickness of the left border displayed on code blocks. Defaults to 3px;
//$code-block-padding-left:         0.75em;       // The amount of padding applied between the code and the border. Defaults to 0.6em.
//$code-block-bg:                   $light-purp;  // By default, Quarto sets a background on code blocks by adding transparency to the theme’s progress-bg color. Set this variable to truthy value or a CSS color.
//$code-block-bg-padding:           0.5em;        // The padding applied to the code block. Defaults to 0.4em.

// Code Copy (enable code-copy: true)
//$btn-code-copy-color:             $dark-purp;   // The color used for the copy button at the top right of code blocks.
//$btn-code-copy-color-active:      $dark-purp;   // The hover color used for the copy button at the top right of code blocks.

// Inline Code

// Table of Contents
//$toc-color:                       $body-color;  // The color for table of contents text.
//$toc-font-size:                   $font-size-root;// The font-size for table of contents text.
//$toc-active-border:               $accent2;     // The left border color for the currently active table of contents item.
//$toc-inactive-border:             $light-blue;  // The left border colors for inactive table of contents items.

// Layout
$content-padding-top:               2em;          // Padding that should appear before the main content area (including the sidebar, content, and TOC.

// Navigation
$navbar-bg:                         $white;// The background color of the navbar. Defaults to the theme’s $primary color.
$navbar-fg:                         $primary;// The color of foreground elements (text and navigation) on the navbar. If not specified, a contrasting color is automatically computed.
$navbar-hl:                         $accent1;// The highlight color for links in the navbar. If not specified, the $link-color is used or a contrasting color is automatically computed.
$sidebar-bg:                        transparent;// The background color for a sidebar. Defaults to $light except when a navbar is present or when the style is floating. In that case it defaults to the $body-bg color.
$sidebar-fg:                        $black;// The color of foreground elements (text and navigation) on the sidebar. If not specified, a contrasting color is automatically computed.
$sidebar-hl:                        $dark-grey;// The highlight color for links in the sidebar. If not specified, the $link-color is used.
//$footer-bg:                       $primary;// The background color for the footer. Defaults to the $body-bg color.
//$footer-fg:                       $white;// The color of foreground elements (text and navigation) on the footer. If not specified, a contrasting color is automatically computed.

// Callouts
//$callout-border-width:                    3px;// By default, Quarto does not display a left border on code blocks. Set this variable to a truthy value or a CSS color to enable the left border. Defaults to 5px.
//$callout-icon-scale:                    ;// The color of the callout icon computed by shifting the callout color by this amount. Defaults to 10%.
//$callout-margin-top:                    2em;// The amount of top margin on the callout. Defaults to 1.25rem.
//$callout-margin-bottom:                    2em;// The amount of bottom margin on the callout. Defaults to 1.25rem.
//$callout-color-note:                    $accent1;
//$callout-color-tip:                    $accent2;
//$callout-color-caution:                    $accent2;
//$callout-color-warning:                    #edcb01;
//$callout-color-important:                    #4491bf;

/*-- scss:rules --*/

hr {
  border: none;
  height: 3px;
  /* Set the hr color */
  background-color: #333;  /* Modern Browsers */
}

.navbar {
  font-weight: $headings-font-weight;
}
